<h1>
  <fa-icon [routerLink]="['/rates/home']" [icon]="faHome"></fa-icon>
  Bienvenido
</h1>
<hr />
<p class="text-wrap">
  Esta App facilita el consumo de información sobre tipos de cambio, los valores
  aquí mostrados provienen de fuentes de terceros.Estos datos se actualizan cada
  12 horas.
</p>
<p class="text-wrap" style="color: red">
  <em>
    No somos responsables de la estabilidad de la API para el consumo de los
    datos; use la aplicación bajo su propio riesgo.
  </em>
</p>

<h1 class="display-6">
  <fa-icon [icon]="faDatabase"></fa-icon>
  Fuentes de datos
</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="https://www.directoriocubano.info/cadeca/"
      >https://www.directoriocubano.info/cadeca/</a
    >
    (ó <a href="https://www.cadeca.cu">https://www.cadeca.cu</a>)
  </li>
  <li class="list-group-item">
    <a href="https://divisascu.app/">https://divisascu.app/</a>
  </li>
</ul>
<h1 class="display-6">
  <fa-icon [icon]="faGlobe"></fa-icon>
  URL API
</h1>
<ul class="list-group">
  <li class="list-group-item">
    <a href="https://exchange-rate.decubba.com/"
      >https://exchange-rate.decubba.com/</a
    >
  </li>
</ul>
