<nav class="navbar navbar-light">
  <div class="container-fluid">
    <span [routerLink]="['/rates/home']" class="navbar-brand mb-0 h1">
      <img
        src="../assets/logo-cubarates.png"
        alt=""
        class="img-fluid"
        width="400 px"
        height="400 px"
      />
    </span>
  </div>
</nav>

<div class="row mt-5">
  <div class="col-md-3 col-sm-12">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-9 col-sm-12">
    <router-outlet></router-outlet>
  </div>
</div>

<span class="float-end text-primary">{{ title }} </span>
<span class="float-end-100 text-primary">
  Desarrollador:
  <a href="mailto:ginomiguel91@gmail.com">ginomiguel91@gmail.com</a>
</span>
