<h1>Tasa {{ rateLabel }}</h1>
<hr />
<form [formGroup]="rateForm">
  <div class="row mb-3">
    <div class="col-6">
      <label class="form-label">Moneda:</label>
      <select
        [ngClass]="errorFieldClass('coin')"
        class="form-control"
        formControlName="coin"
      >
        <option value="">--Seleccione Moneda--</option>
        <option *ngFor="let coin of coins" [value]="coin">
          {{ coin | uppercase }}
        </option>
      </select>
      <div [ngClass]="msgErrorsClassField('coin')">
        {{ msgErrorValidation("coin") }}
      </div>
    </div>
  </div>
</form>
<!-- resultados -->
<app-card-response [res]="res"></app-card-response>
